@CHARSET "ISO-8859-1";

div #msgDiv{
	font-size:15px;
	color:green;
}

table{width:400px;	 }
	 table td{width:200px;}
	 table th{width:200px;}
	 input[type="text"] {width:200px; }
	 input[type="button"]{
	    margin-top:5px;
	 }
	/*  
	#dispalyList table thead {
    display: inline-block;
    width: 900px;
    height: 25px;
     }
  #dispalyList table tbody {
    height: 300px;
    display: inline-block;
    width: 900px;
    overflow: auto;
    } */
	#dispalyList table thead, tbody { display: block; }
	 fieldset{width:500px; }
	 
	#dispalyList table tbody {
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
     }
	 
	 
	#dispalyList table{width:900px; }
	/* #dispalyList table th{width:200px; }
	#dispalyList table td{width:200px; } */
	#dispalyList fieldset{width: 900px;}
	
	.update{
	  font-size:12px;
	}
	.delete{
	  font-size:12px;
	}
	
    
	/* div.ui-datepicker{
    font-size:10px;
    } */
    
    /**
       Form css    
    */
    form label{ 
      font-family: "Trebuchet MS",sans-serif;
      font-weight:normal;
      font-size:75%;
    }
    form{
        width:80%;
    }
    form table{
      margin:auto auto;
      width:350px;
    }
   form table td{
      width:20%;
    }
    
   #submit{
     font-size:75%;
   }
   
   #ui-datepicker-div { font-size:8px;}
    